@media screen and (max-width:1024px) {
    .service-card {
        width: calc(50% - (50px * 1) / 2);
    }

    .service-card:nth-child(2) {
        transform: none;
    }
}

@media screen and (max-width:640px) {
    .services-heading {
        font-size: 30px;
    }

    .service-card-desc {
        font-size: 16px;
    }

    .service-card {
        width: 100%;
    }

    .service-card:nth-child(2) {
        transform: none;
    }
}

@media screen and (max-width:575px) {
    .services-heading {
        max-width: 500px;
    }
}