* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: #ffffff;
    --ternary: #7DBE2F;
    --forth: #5AA116;
    --fifth: #D9D9D9;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.container {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.services-heading {
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: -2px;
    text-align: center;
}

.services-heading span {
    background: linear-gradient(to right, rgba(125, 190, 47, 1), rgba(90, 161, 22, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-sec {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 166%;
    color: var(--primary);
    max-width: 1252px;
    text-align: center;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 50px;
}

.service-card {
    background-color: var(--primary);
    border-radius: 18px;
    transition: background 0.3s ease-in-out ,transform 0.3s ease-in-out;
    overflow: hidden;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 48px;
    padding-bottom: 61px;
    width: calc(33.33% - (50px * 2) / 3);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px  4px;
}

.service-card-img {
    background-color: #3DFFBC1F;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 88px;
    height: 84px;
    margin: 0 auto;
    color: var(--forth);
}

.service-card-img svg {
    width: 65px;
    height: 65px;
    transition: color 0.3s ease-in-out;
}

.service-card-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    color: var(--secondary);
    margin-top: 25px;
}

.service-card-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 166%;
    color:  #F5F5F5;
    margin: 0 auto;
    margin-top: 14px;
    text-align: center;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.service-card:nth-child(2) {
    background-color: var(--ternary);
    transform: scale(1.1);
}

.service-card:nth-child(2) .service-card-img {
    background-color: rgba(3, 3, 3, 0.12);
}

.service-card:nth-child(2) svg {
    color: var(--secondary);
}

.service-cards:hover .service-card {
    background-color: var(--primary);
    transform: none;
}

.service-cards:hover .service-card svg {
    color: var(--forth);
}

.service-cards:hover .service-card-img  {
    background-color: rgba(3, 3, 3, 0.12);
}

.service-cards .service-card:hover {
    background-color: var(--ternary);
    transform: scale(1.1);
}

.service-cards .service-card:hover svg {
    color: var(--secondary);
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}